[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "node==1.2.2",
    "nodeenv==1.9.1",
    "pillow>=12.1.1",
    "spriteworld>=1.0.2",
]
